<div class="demo-page">
  <div class="demo-container">
    <div class="demo-header">
      <h1>🐾 VetControl Demo</h1>

      <p>Explorá una versión demostrativa de la plataforma antes de registrarte.</p>
    </div>
    <h2 class="demo-section-title">📊 Resumen general</h2>
    <div class="stats-grid">
      <div class="stat-card">
        <h2>3</h2>
        <span>Mascotas</span>
      </div>

      <div class="stat-card">
        <h2>1</h2>
        <span>Vacuna próxima</span>
      </div>

      <div class="stat-card">
        <h2>8</h2>
        <span>Consultas</span>
      </div>
    </div>

    <h2 class="demo-section-title">📅 Próximos turnos</h2>
    <div class="demo-list">
      @for (turno of turnosDemo; track $index) {
        <div class="pet-card">
          <div>
            <h3>{{ turno.mascota }}</h3>
            <p>{{ turno.motivo }}</p>
            <small>{{ turno.fecha }}</small>
          </div>
        </div>
      }
    </div>

    <h2 class="demo-section-title">🩺 Últimas consultas</h2>

    <div class="demo-list">
      @for (consulta of consultasDemo; track $index) {
        <div class="pet-card">
          <div>
            <h3>{{ consulta.mascota }}</h3>
            <p>{{ consulta.motivo }}</p>
            <small>{{ consulta.fecha }}</small>
          </div>
        </div>
      }
    </div>
    <h2 class="demo-section-title">💉 Estado de vacunas</h2>

    <div class="demo-list">
      @for (mascota of mascotasDemo; track $index) {
        <div class="pet-card">
          <div>
            <h3>{{ mascota.especie }} {{ mascota.nombre }}</h3>
            <p>Vacuna: {{ mascota.vacuna }}</p>
            <small>Próxima dosis: {{ mascota.proximaDosis }}</small>
          </div>

          <span class="estado">
            {{ mascota.estado }}
          </span>
        </div>
      }
    </div>

    <div class="demo-actions">
      <a routerLink="/register" class="crear-btn"> Crear cuenta </a>

      <a routerLink="/" class="volver-btn"> Volver al inicio </a>
    </div>
  </div>
</div>
