<div class="page">
  <div class="page-header">
    <div class="page-header-left">
      <h1>Consultas Médicas</h1>
      <p>Registrar consultas veterinarias de las mascotas.</p>
    </div>
  </div>

  <div class="page-card">
    <h2>
      {{ modoEdicion ? '✏️ Editando Consulta' : 'Nueva Consulta' }}
    </h2>

    <div class="form-grid">
      <div class="form-group">
        <label>Mascota</label>

        <select [(ngModel)]="mascotaId">
          <option [ngValue]="0">Seleccionar mascota</option>

          @for (mascota of mascotaService.mascotasUsuario(); track mascota.id) {
            <option [ngValue]="mascota.id">
              {{ mascota.nombre }}
            </option>
          }
        </select>
      </div>

      <div class="form-group">
        <label>Motivo</label>

        <input type="text" placeholder="Motivo" [(ngModel)]="motivo" />
      </div>

      <div class="form-group">
        <label>Diagnóstico</label>

        <input type="text" placeholder="Diagnóstico" [(ngModel)]="diagnostico" />
      </div>

      <div class="form-group">
        <label>Peso</label>

        <input type="number" placeholder="Peso" [(ngModel)]="peso" />
      </div>

      <div class="form-group">
        <label>Fecha</label>

        <input type="date" [(ngModel)]="fecha" />
      </div>

      <div class="form-group">
        <label>Notas</label>

        <textarea
          placeholder="Observaciones o notas de la consulta"
          [(ngModel)]="observaciones"
          rows="4"
        ></textarea>
      </div>
    </div>

    <div class="form-actions">
      <button class="btn-primary" (click)="confirmarGuardarConsulta()">
        {{ modoEdicion ? 'Guardar Cambios' : 'Registrar Consulta' }}
      </button>

      @if (modoEdicion) {
        <button class="btn-cancelar" (click)="cancelarEdicion()">Cancelar edición</button>
      }
    </div>
  </div>

  <div class="page-card">
    <h2>Consultas Registradas</h2>

    @for (mascota of mascotaService.mascotasUsuario(); track mascota.id) {
      @if (mascota.consultas.length > 0) {
        <div class="table-container">
          <div class="table-header">
            <span>Mascota</span>
            <span>Fecha</span>
            <span>Motivo</span>
            <span>Diagnóstico</span>
            <span>Peso</span>
            <span>Acciones</span>
          </div>

          @for (consulta of mascota.consultas; track $index) {
            <div class="table-row">
              <span>🐶 {{ mascota.nombre }}</span>

              <span>{{ consulta.fecha }}</span>

              <span>{{ consulta.motivo }}</span>

              <span>{{ consulta.diagnostico }}</span>

              <span>{{ consulta.peso }} kg</span>

              <span class="table-actions">
                <button class="btn-icon" (click)="editarConsulta(mascota.id, $index)">✏️</button>

                <button
                  class="btn-eliminar separar-eliminar"
                  (click)="eliminarConsulta(mascota.id, $index)"
                >
                  🗑
                </button>
              </span>
            </div>
          }
        </div>
      }
    }
  </div>
</div>
