<div class="consultas-page">
  <div class="consultas-header">
    <h1>🩺 Consultas Médicas</h1>

    <p>Registrar consultas veterinarias de las mascotas.</p>
  </div>

  <div class="consulta-form-card">
    <h2>Nueva Consulta</h2>

    <div class="form-grid">
      <select [(ngModel)]="mascotaId">
        <option [ngValue]="0">Seleccionar mascota</option>

        @for (mascota of mascotaService.mascotasUsuario(); track mascota.id) {
          <option [ngValue]="mascota.id">
            {{ mascota.nombre }}
          </option>
        }
      </select>

      <input type="text" placeholder="Motivo" [(ngModel)]="motivo" />

      <input type="text" placeholder="Diagnóstico" [(ngModel)]="diagnostico" />

      <input type="number" placeholder="Peso" [(ngModel)]="peso" />

      <input type="date" [(ngModel)]="fecha" />
    </div>

    <button class="btn-guardar" (click)="registrarConsulta()">Registrar Consulta</button>
    @if (mensajeExito) {
      <div class="alert-success">
        {{ mensajeExito }}
      </div>
    }
    <div class="consulta-form-card">
      <h2>Consultas Registradas</h2>

      @for (mascota of mascotaService.mascotasUsuario(); track mascota.id) {
        @if (mascota.consultas.length > 0) {
          <div class="consulta-item">
            <div class="consulta-header">
              <span>Mascota</span>
              <span>Fecha</span>
              <span>Motivo</span>
              <span>Diagnóstico</span>
              <span>Peso</span>
              <span>Acciones</span>
            </div>

            @for (consulta of mascota.consultas; track $index) {
              <div class="consulta-row">
                <span>🐶 {{ mascota.nombre }}</span>

                <span>{{ consulta.fecha }}</span>

                <span>{{ consulta.motivo }}</span>

                <span>{{ consulta.diagnostico }}</span>

                <span>{{ consulta.peso }} kg</span>

                <span class="acciones">
                  <button class="btn-editar" (click)="editarConsulta(mascota.id, $index)">
                    ✏️
                  </button>

                  <button
                    class="btn-eliminar separar-eliminar"
                    (click)="eliminarConsulta(mascota.id, $index)"
                  >
                    🗑
                  </button>
                </span>
              </div>
            }
          </div>
        }
      }
    </div>
  </div>
</div>
