.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 280px;
  background: white;
  border-right: 1px solid #e5e7eb;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px 0;

  box-shadow: 8px 0 30px rgba(0, 0, 0, 0.06);
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 40px;
}

.logo-section h2 {
  margin-top: 15px;

  font-size: 24px;

  font-weight: 800;

  color: #111827;
}

.logo-icon {
  width: 58px;
  height: 58px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 18px;

  background: linear-gradient(135deg, #4f46e5, #06b6d4);

  color: white;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.menu a {
  width: 100%;

  display: flex;
  align-items: center;

  gap: 14px;

  padding: 16px;

  border-radius: 16px;

  text-decoration: none;

  color: #374151;

  transition: 0.25s;
}

.menu a:hover {
  background: #f3f4f6;

  transform: translateX(4px);
}

.menu a span {
  display: block;

  font-size: 16px;

  font-weight: 600;
}

.main-content {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.topbar {
  height: 80px;

  background: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;

  border-bottom: 1px solid #e5e7eb;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;

  color: #111827;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.page-container {
  flex: 1;
}
