<div class="page">
  <div class="page-header">
    <div>
      <h1>Vacunas</h1>

      <p>Registrar y administrar las vacunas de las mascotas.</p>
    </div>
  </div>

  <div class="page-card">
    <h2>Nueva Vacuna</h2>

    <div class="form-grid">
      <div class="campo">
        <label>Mascota</label>

        <select [(ngModel)]="mascotaId">
          <option [ngValue]="0">Seleccionar mascota</option>

          @for (mascota of mascotaService.mascotasUsuario(); track mascota.id) {
            <option [ngValue]="mascota.id">
              {{ mascota.nombre }}
            </option>
          }
        </select>
      </div>

      <div class="campo">
        <label>Vacuna</label>

        <input type="text" placeholder="Nombre de la vacuna" [(ngModel)]="nombre" />
      </div>

      <div class="campo">
        <label>Fecha de aplicación</label>

        <input type="date" [(ngModel)]="fecha" />
      </div>

      <div class="campo">
        <label>Frecuencia</label>

        <select [(ngModel)]="frecuencia">
          <option [ngValue]="1">1 mes</option>
          <option [ngValue]="3">3 meses</option>
          <option [ngValue]="6">6 meses</option>
          <option [ngValue]="12">1 año</option>
        </select>
      </div>

      <div class="campo">
        <label>Próxima dosis</label>

        <input type="text" [value]="proximaDosisCalculada" disabled />
      </div>

      <div class="campo">
        <label>Observaciones</label>

        <input type="text" placeholder="Opcional" />
      </div>

      <div class="form-actions">
        <button class="btn-primary" (click)="confirmarGuardarVacuna()">
          {{ modoEdicion ? 'Guardar Cambios' : 'Registrar Vacuna' }}
        </button>

        @if (modoEdicion) {
          <button class="btn-cancelar" (click)="cancelarEdicion()">Cancelar edición</button>
        }
      </div>
    </div>

    @if (modoEdicion) {
      <button class="btn-cancelar" (click)="cancelarEdicion()">Cancelar edición</button>
    }
  </div>

  <div class="page-card">
    <h2>Vacunas Registradas</h2>

    @for (mascota of mascotaService.mascotasUsuario(); track mascota.id) {
      @if (mascota.vacunas.length > 0) {
        <div class="vacuna-item">
          <div class="consulta-header">
            <span>Mascota</span>
            <span>Vacuna</span>
            <span>Fecha aplicada</span>
            <span>Próxima dosis</span>
            <span>Estado</span>
            <span>Acciones</span>
          </div>

          @for (vacuna of mascota.vacunas; track $index) {
            <div class="consulta-row">
              <span>🐶 {{ mascota.nombre }}</span>

              <span>{{ vacuna.nombre }}</span>

              <span>{{ vacuna.fecha }}</span>

              <span>{{ vacuna.proximaDosis }}</span>

              <span>{{ obtenerEstado(vacuna.proximaDosis) }}</span>

              <span class="acciones">
                <button class="btn-editar" (click)="editarVacuna(mascota.id, $index)">✏️</button>

                <button
                  class="btn-eliminar separar-eliminar"
                  (click)="confirmarEliminarVacuna(mascota.id, $index)"
                >
                  🗑
                </button>
              </span>
            </div>
          }
        </div>
      }
    }
  </div>
</div>
