@if (mascota()) {
  <div class="detalle-page">
    <div class="detalle-card">
      <div class="detalle-foto">
        <img [src]="mascota()?.imagen" [alt]="mascota()?.nombre" />
      </div>

      <div class="detalle-info">
        <div class="header-mascota">
          <div class="header-titulo">
            <h1>{{ mascota()?.nombre }}</h1>

            <div class="pet-tags">
              <span class="tag especie">
                {{ mascota()?.especie }}
              </span>

              <span class="tag raza">
                {{ mascota()?.raza }}
              </span>

              <span class="tag edad"> {{ mascota()?.edad }} años </span>
            </div>

            <div class="pet-owner">👤 {{ mascota()?.duenio }}</div>
          </div>

          <button class="btn-pdf" (click)="descargarPDF()">📄 Descargar PDF</button>
        </div>

        <div class="hero-panels">
          <div class="hero-box">
            <h3>Estado sanitario</h3>

            <div class="pet-status">
              @if (estadoSanitario() === 'ok') {
                <span class="status-ok"> 🟢 Vacunas al día </span>
              }

              @if (estadoSanitario() === 'pendiente') {
                <span class="status-warning"> 🟠 Vacunas pendientes </span>
              }

              @if (estadoSanitario() === 'sin-vacunas') {
                <span class="status-alert"> 🔴 Sin vacunas </span>
              }
            </div>

            <p class="status-detail">
              {{ mensajeSanitario() }}
            </p>
          </div>

          @if (proximaVacuna()) {
            <div class="hero-box">
              <h3>💉 Próxima vacuna</h3>

              <strong>{{ proximaVacuna()?.nombre }}</strong>

              <p>📅 {{ proximaVacuna()?.proximaDosis }}</p>

              @if (diasParaProximaVacuna()! > 0) {
                <span class="vacuna-ok"> {{ diasParaProximaVacuna() }} días restantes </span>
              }

              @if (diasParaProximaVacuna()! <= 0) {
                <span class="vacuna-alerta"> Vacuna vencida </span>
              }
            </div>
          }

          @if (ultimaConsulta()) {
            <div class="hero-box">
              <h3>🩺 Última consulta</h3>

              <p>{{ ultimaConsulta()?.motivo }}</p>

              <p>🕒 {{ ultimaConsulta()?.fecha }}</p>

              <small>{{ ultimaConsulta()?.diagnostico }}</small>
            </div>
          }
        </div>
      </div>
    </div>

    <!-- RESUMEN -->

    <div class="detalle-stats">
      <div class="stat-card vacunas">
        <mat-icon>vaccines</mat-icon>

        <div>
          <span class="stat-number">{{ totalVacunas() }}</span>
          <p>Vacunas</p>
        </div>
      </div>

      <div class="stat-card consultas">
        <mat-icon>medical_services</mat-icon>

        <div>
          <span class="stat-number">{{ totalConsultas() }}</span>
          <p>Consultas</p>
        </div>
      </div>

      <div class="stat-card turnos">
        <mat-icon>event</mat-icon>

        <div>
          <span class="stat-number">{{ totalTurnos() }}</span>
          <p>Turnos</p>
        </div>
      </div>

      <div class="stat-card peso">
        <mat-icon>monitor_weight</mat-icon>

        <div>
          <span class="stat-number">
            {{ ultimoPeso() ?? '-' }}
          </span>

          <p>Último peso</p>
        </div>
      </div>
    </div>

    <!-- CONSULTAS -->

    <div class="historial-card">
      <h2>🩺 Consultas</h2>

      @if (mascota()?.consultas?.length === 0) {
        <p>No hay consultas registradas.</p>
      }

      <div class="timeline">
        @for (consulta of consultasOrdenadas(); track consulta.fecha) {
          <div class="timeline-item">
            <div class="timeline-dot consulta"></div>

            <div class="timeline-content">
              <strong>{{ consulta.motivo }}</strong>

              <p>{{ consulta.diagnostico }}</p>

              <p>⚖ Peso: {{ consulta.peso }} kg</p>

              <p>📅 {{ consulta.fecha }}</p>
            </div>
          </div>
        }
      </div>
    </div>

    <!-- TURNOS -->

    <div class="historial-card">
      <h2>📅 Turnos</h2>
      @if (turnosOrdenados().length === 0) {
        <div class="empty-state">
          <mat-icon>event_busy</mat-icon>

          <p>No hay turnos registrados todavía</p>
        </div>
      }

      <div class="timeline">
        @for (turno of turnosOrdenados(); track turno.id) {
          <div class="timeline-item">
            <div class="timeline-dot turno"></div>

            <div class="timeline-content">
              <div class="timeline-header">
                <strong>{{ turno.motivo }}</strong>

                <span
                  class="estado-badge"
                  [class.pendiente]="turno.estado === 'Pendiente'"
                  [class.completado]="turno.estado === 'Completado'"
                >
                  @if (turno.estado === 'Pendiente') {
                    ⏳ Pendiente
                  }

                  @if (turno.estado === 'Completado') {
                    ✅ Completado
                  }
                </span>
              </div>

              <p>📅 {{ turno.fecha }}</p>

              <p>⏰ {{ turno.hora }}</p>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
}
