@import '@angular/material/prebuilt-themes/azure-blue.css';

body {
  margin: 0;

  font-family: 'Inter', sans-serif;

  min-height: 100vh;

  overflow-x: hidden;

  background: #ffffff;
}
/* contenedor */
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* cards */
mat-card {
  border-radius: 28px !important;

  padding: 25px;

  background: rgba(255, 255, 255, 0.06) !important;

  backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);

  transition: 0.3s ease;
}

mat-card:hover {
  transform: translateY(-6px);

  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.45);
}

/* botones */
button {
  border-radius: 12px !important;
}

/* tabla */
.tabla {
  width: 100%;
  margin-top: 20px;
  border-radius: 12px;
  overflow: hidden;
  background: white;
}

.tabla th {
  background: #d0ebff;
  color: #333;
}

.tabla td,
.tabla th {
  padding: 12px;
}

/* home */

.hero h1 {
  font-size: 42px;

  margin-bottom: 14px;

  font-weight: 800;
}

.hero p {
  font-size: 18px;

  color: rgba(255, 255, 255, 0.72);

  max-width: 700px;

  line-height: 1.6;
}

.logout-snackbar {
  background: linear-gradient(135deg, #4f46e5, #6366f1, #8b5cf6) !important;

  color: white !important;

  font-size: 18px !important;

  font-weight: 700 !important;

  padding: 24px !important;

  border-radius: 18px !important;

  box-shadow: 0 15px 45px rgba(99, 102, 241, 0.4) !important;
}
