<div class="page">
  <!-- HERO -->
  <div class="page-header">
    <div>
      <h1 class="page-title">Panel</h1>
      <p class="page-subtitle">Resumen general de la clínica veterinaria</p>
    </div>

    <div class="dashboard-date">
      <p>Hoy, {{ fechaActual }}</p>
    </div>
  </div>

  <!-- TARJETAS -->
  <section class="dashboard-grid">
    <div class="dashboard-card card-pets">
      <div class="card-content">
        <div class="card-header">
          <span class="card-label"> Mascotas </span>

          <div class="card-icon">
            <mat-icon>pets</mat-icon>
          </div>
        </div>

        <h2>{{ totalMascotas() }}</h2>

        <small>{{ especiesRegistradas() }} especies registradas</small>

        <a routerLink="/mascotas" routerLinkActive="dashboard-link-active"> Ver mascotas → </a>
      </div>
    </div>

    <div class="dashboard-card card-vaccines">
      <div class="card-content">
        <div class="card-header">
          <span class="card-label">Próximas vacunas</span>

          <div class="card-icon">
            <mat-icon>vaccines</mat-icon>
          </div>
        </div>

        <h2>{{ totalVacunas() }}</h2>

        <small>{{ vacunasPendientes() }} próximas dosis</small>

        <a routerLink="/vacunas" routerLinkActive="dashboard-link-active"> Ver vacunas → </a>
      </div>
    </div>

    <div class="dashboard-card card-consultas">
      <div class="card-content">
        <div class="card-header">
          <span class="card-label">Consultas hoy</span>

          <div class="card-icon">
            <mat-icon>medical_services</mat-icon>
          </div>
        </div>

        <h2>{{ totalConsultas() }}</h2>

        <small>{{ consultasEsteMes() }} consultas este mes</small>

        <a routerLink="/consultas" routerLinkActive="dashboard-link-active"> Ver consultas → </a>
      </div>
    </div>

    <div class="dashboard-card card-turnos">
      <div class="card-content">
        <div class="card-header">
          <span class="card-label">Turnos</span>

          <div class="card-icon">
            <mat-icon>calendar_month</mat-icon>
          </div>
        </div>

        <h2>{{ totalTurnos() }}</h2>

        <small>{{ turnosHoy() }} turnos para hoy</small>

        <a routerLink="/turnos" routerLinkActive="dashboard-link-active"> Ver turnos → </a>
      </div>
    </div>
  </section>

  <section class="dashboard-panels">
    <!-- IZQUIERDA -->
    <div class="left-column">
      <!-- Próximos turnos -->
      <section class="panel">
        <div class="panel-header">
          <h2>📅 Próximos turnos</h2>
        </div>

        <div class="panel-body">
          @if (proximosTurnos().length > 0) {
            @for (turno of proximosTurnos(); track $index) {
              <div class="mini-item">
                <strong>{{ turno.mascotaNombre }}</strong>
                <span>{{ turno.motivo }}</span>
                <small>{{ turno.fecha }} - {{ turno.hora }}</small>
              </div>
            }
          } @else {
            <div class="mini-item">
              <strong>No hay turnos programados</strong>
              <span>Cuando registres uno aparecerá aquí.</span>
            </div>
          }
        </div>
      </section>
    </div>

    <!-- DERECHA -->
    <app-pie-chart
      [mascotas]="totalMascotas()"
      [vacunas]="totalVacunas()"
      [consultas]="totalConsultas()"
      [turnos]="totalTurnos()"
    >
    </app-pie-chart>
  </section>
  <section class="dashboard-evolution">
    <app-line-chart></app-line-chart>
  </section>
</div>
