<div class="home">
  <!-- HERO -->
  <div class="dashboard-header">
    <div>
      <h1>⚙️ Dashboard</h1>
      <p>Resumen general de la clínica veterinaria</p>
    </div>

    <div class="dashboard-date">
      <p>Hoy, {{ fechaActual }}</p>
    </div>
  </div>

  <!-- TARJETAS -->
  <section class="dashboard-grid">
    <div class="dashboard-card card-pets">
      <div class="card-content">
        <div class="card-header">
          <span class="card-label"> Mascotas </span>

          <div class="card-icon">
            <mat-icon>pets</mat-icon>
          </div>
        </div>

        <h2>{{ totalMascotas() }}</h2>

        <small>{{ especiesRegistradas() }} registrados</small>

        <a routerLink="/mascotas"> Ver mascotas </a>
      </div>
    </div>

    <div class="dashboard-card card-vaccines">
      <div class="card-content">
        <div class="card-header">
          <span class="card-label">Próximas vacunas</span>

          <div class="card-icon">
            <mat-icon>vaccines</mat-icon>
          </div>
        </div>

        <h2>{{ totalVacunas() }}</h2>

        <small>{{ vacunasPendientes() }} pendientes</small>

        <a routerLink="/vacunas">Ver vacunas</a>
      </div>
    </div>

    <div class="dashboard-card card-consultas">
      <div class="card-content">
        <div class="card-header">
          <span class="card-label">Consultas hoy</span>

          <div class="card-icon">
            <mat-icon>medical_services</mat-icon>
          </div>
        </div>

        <h2>{{ totalConsultas() }}</h2>

        <small>{{ consultasEsteMes() }} este mes</small>

        <a routerLink="/consultas">Ver consultas</a>
      </div>
    </div>

    <div class="dashboard-card card-turnos">
      <div class="card-content">
        <div class="card-header">
          <span class="card-label">Turnos</span>

          <div class="card-icon">
            <mat-icon>calendar_month</mat-icon>
          </div>
        </div>

        <h2>{{ totalTurnos() }}</h2>

        <small>{{ turnosHoy() }} para hoy</small>

        <a routerLink="/turnos">Ver turnos</a>
      </div>
    </div>
  </section>

  <section class="dashboard-panels">
    <!-- IZQUIERDA -->
    <div class="left-column">
      <!-- Próximos turnos -->
      <section class="panel">
        <div class="panel-header">
          <h2>📅 Próximos turnos</h2>
        </div>

        <div class="panel-body">
          @if (proximosTurnos().length > 0) {
            @for (turno of proximosTurnos(); track $index) {
              <div class="mini-item">
                <strong>{{ turno.mascotaNombre }}</strong>
                <span>{{ turno.motivo }}</span>
                <small>{{ turno.fecha }} - {{ turno.hora }}</small>
              </div>
            }
          } @else {
            <div class="mini-item">
              <strong>No hay turnos programados</strong>
              <span>Cuando registres uno aparecerá aquí.</span>
            </div>
          }
        </div>
      </section>

      <!-- Próximas vacunas -->
      <!-- <section class="panel">
        <div class="panel-header">
          <h2>💉 Próximas vacunas</h2>
        </div>

        <div class="panel-body">
          @if (vacunasProximas().length > 0) {
            @for (vacuna of vacunasProximas(); track $index) {
              <div class="mini-item">
                <strong>{{ vacuna.nombre }}</strong>
                <span>{{ vacuna.mascota }}</span>
                <small>Próxima dosis: {{ vacuna.proximaDosis }}</small>
              </div>
            }
          } @else {
            <div class="mini-item">
              <strong>No hay vacunas próximas</strong>
              <span>Todas las mascotas están al día.</span>
            </div>
          }
        </div>
      </section> -->
    </div>

    <!-- DERECHA -->
    <app-pie-chart
      [mascotas]="totalMascotas()"
      [vacunas]="totalVacunas()"
      [consultas]="totalConsultas()"
      [turnos]="totalTurnos()"
    >
    </app-pie-chart>
  </section>
  <section class="dashboard-evolution">
    <app-line-chart></app-line-chart>
  </section>
</div>
